<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<link rel="stylesheet" href="/css/main.css">
<body>
    <header>
        <nav>
            <ul>
                <li class="navitem"><a href="/">Shop</a></li>
                <li class="navitem"><a href="/admin/add-product" class="activeclass">Add Product</a></li>
                <li class="navitem"><a href="/contactus">Contact Us</a></li>

                
            </ul>
        </nav>
    </header>
    <main>
        <form class="prodform" action="/admin/add-product" method="POST">
            <div class="form-controll">

                <label for="prodname">Product Name</label>
                <input type="text"  name="title" id="prodname">
                <button type="submit" id="abtn">Add</button>
            </div>
        </form>
    </main>

</body>
</html>