*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgba(232, 73, 11, 0.368);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
nav{
    background-color: goldenrod;
}

ul{
    display: flex;
    margin-left:60px;
}

 li{
    list-style: none;
    padding: 10px 2px;
}
a{
    text-decoration: none;
    margin: 0 5px;
    padding: 0 12px;
    font-size: 1.2rem;
    color:black
}

a:hover{
   
    color: rgb(26, 129, 5);
   

}


a.activeclass{
    color: rgb(49, 49, 209);
}
main{
    padding: 1rem;
}

.prodform{
   
   justify-content: center;
   align-items: center;
   display: flex;
   margin-top: 50px;
}

.form-controll label,.form-controll input{
    display: block;
   
}

.form-controll input{
    border: 1px solid goldenrod;
    font: inherit;
    border-radius: 2px;
    height: 25px;
    width: 278px;
}

button{
    background-color: rgb(221, 67, 32);
    padding: 5px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: green;
}

.succssheading{
    text-align: center;
    color: rgb(2, 108, 21);
    font-size: 25px;
}
.pagenotfound{
    color: red;
}